/*****************
      RESET
  *****************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

:root{
  --azzurro: #0084fd;
  --celeste: #b5ddff;
  --violetto: #9792e4;
  --neropaco: #333333;
  --grigio: #5d7183;
  --biancastro: #cac8f1;
  --giallino: #fdc15f;
}
/*****************
      /RESET
  *****************/


/*****************
      GENERALS
  *****************/
.container{
  margin: 0 auto;
  width: 100%;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.debug{
  border: 1px dashed black;
}

.d-flex{
  display: flex;
}

.f-wrap{
  flex-wrap: wrap;
}

.f-nowrap{
  flex-wrap: nowrap;
}

.in-block{
  display: inline-block;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.flex-column{
  flex-direction: column;
}

.font-onetwo{
  font-size: 1.2rem;
}

.font-onefive{
  font-size: 1.5rem;
}

.line-height{
  line-height: 30px;
}

.b-radius{
  border-radius: 30px;
}
/*****************
      /GENERALS
  *****************/

/*****************
    HEADER
*****************/
header{
  height: 80px;
  background-color: var(--azzurro);
}

header .container{
  height: 100%;
  padding: 0 20px;
}

.hamb{
  color: white;
}

.menu{
  display: none;
}
/*****************
    /HEADER
*****************/


/*****************
    MAIN
*****************/
/* Section 1 */
  #demo .row:nth-child(2){
    margin-bottom: 50px;
  }

  #demo .col{
    background-color: var(--celeste);
    margin-top: 40px;
    margin: 0 10px;
  }

  #demo .row:nth-child(1) .col{
    background-color: var(--celeste);
    margin-top: 50px;
  }

  #demo .text{
    padding: 40px;
  }
  
  #demo .col h2{
    color: var(--azzurro);
  }
  
  #demo .col p{
    color: var(--grigio);
    padding-top: 20px;
    font-weight: 600;
  }
  
  #demo .col button{
    background-color: var(--azzurro);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
  }

  #demo .col button a{
    color: white;
    padding: 10px 20px;
  }
  
  #demo .row:nth-child(2) .col{
    background-color: var(--celeste);
    margin-top: 40px;
  }

  #demo .row:nth-child(2) .col i{
    font-size: 5rem;
    color: var(--azzurro);
    padding: 30px;
  }

  #demo .row:nth-child(2) .col p{
    padding: 10px 30px;
  }

  #demo .col:nth-child(2) i{
    font-size: 5rem;
    color: var(--azzurro);
    padding: 30px;
  }

  #demo .col:nth-child(2) p{
    padding: 10px 30px;
  }
/* /Section 1 */


/* Section 2*/
#strategic{
  background-color: var(--violetto);
}

#strategic .container{
  padding-bottom: 50px;
}

#strategic .planning img{
  width: 70%;
  padding-top: 50px;
}

#strategic .planning h2{
  color: white;
  font-size: 2rem;
  padding: 50px 0;
}

#strategic .planning p{
  color: white;
  text-align: left;
}

.planning{
  margin: 10px;
}

.app{
  margin: 10px;
  background-color: white;
  border-radius: 50px;
  margin: 50px 50px 0px 50px;
}

#strategic .app img{
  width: 100%;
  height: 50%;
}

#strategic .app h2{
  padding: 20px 0;
}

#strategic .app p{
  font-style: italic;
  width: 70%;
}

#strategic .app button{
  border: none;
  font-size: 1rem;
  padding: 30px 0;
}

#strategic .app button i{
  background-color: var(--violetto);
  padding: 20px;
  border-radius: 50%;
  color: black;
}
/* Section 2*/

/* Section 3*/
#testimonials .container .text{
  margin: 30px;
}

#testimonials .text p{
  padding: 30px 0;
}

#testimonials .text h1{
  font-size: 3rem;
  color: var(--violetto);
}

.bio{
  background-color: var(--violetto);
  margin: 50px;
  border-radius: 30px;
}

.bio img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
}

.bio p:nth-child(2){
  color: white;
  padding: 10px 10px;
}

.bio span{
  color: white;
  padding: 30px 10px;
  font-weight: 600;
}
/* /Section 3*/

/* Section 4*/
#benefits{
  background-color: var(--violetto);
}

#benefits .container h1{
  color: white;
  font-size: 2.5rem;
  padding: 50px 0;
}

#benefits .col .card{
  background-color: white;
  text-align: left;
  margin: 30px;
  padding: 20px 30px;
  border-radius: 30px;
}

#benefits .number{
  color: var(--violetto);
  font-size: 3rem;
  font-weight: 800;
}

#benefits h4{
  color: var(--violetto);
  font-size: 1.6rem;
  padding: 20px 0;
}

#benefits p{
  color: var(--grigio);
}

#benefits button{
  border: none;
  text-align: left;
  padding: 30px 0;
}

#benefits button a{
  background-color: var(--violetto);
  padding: 10px 50px;
  border-radius: 30px;
  color: white;
}
/* /Section 4*/

/* Section 5*/
  #about-us .text{
    justify-content: left;
    margin: 30px;
  }

  #about-us .text h2{
    color: var(--violetto);
    font-size: 2.5rem;
    padding: 20px 0;
  }

  #about-us .text p:nth-child(2){
    line-height: 40px;
    padding-bottom: 20px;
  }

  #about-us .text p:nth-child(3){
    line-height: 40px;
  }

  #about-us .exp{
    justify-content: left;
    margin-top: 30px;
    margin: 30px;
  }
  
  #about-us img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
  }

  #about-us .virgolette i{
    position: absolute;
    margin: 20px 180px;
    z-index: 999;
    font-size: 4rem;
    color: var(--violetto);
  }

  #about-us .virgolette img{
    position: relative;
  }

  #about-us h2{
    color: var(--violetto);
    font-size: 2rem;
  }

  #about-us button{
    border: none;
    align-items: left;
    justify-content: left;
    padding: 20px 0;
  }

  #about-us button a{
    background-color: var(--violetto);
    padding: 10px;
    border-radius: 30px;
    color: white;
  }
/* /Section 5*/

/* Section 6*/
#get-started{
  background-color: var(--violetto);
}

#get-started .container{
  padding: 30px;
}

#get-started .container p:nth-child(1){
  color: var(--biancastro);
}

#get-started .container h3{
  font-size: 2rem;
  color: white;
  padding: 20px;
}

#get-started .container h2{
  font-size: 4rem;
  color: var(--giallino);
}

#get-started .container p:nth-child(4){
  color: var(--biancastro);
}

#get-started button{
  border: none;
  align-items: left;
  justify-content: left;
  padding: 20px 0;
  border-radius: 50px;
  margin: 30px 0;
}

#get-started button a{
  padding: 30px 80px;
  color: var(--violetto);
  font-weight: 600;
}

#get-started .container p:nth-child(6){
  color: white;
}

#get-started .container p:nth-child(6) i{
  font-size: 5px;
  vertical-align: middle;
}

#get-started .container span{
  text-decoration: underline;
}
/* /Section 6*/

/* Footer*/
#fot{
  background-color: var(--neropaco);
}

#fot .container p{
  padding: 20px 0;
  color: white;
}

#fot p:nth-child(2) a{
  color: var(--violetto);
  text-decoration: underline;
}
/* /Footer*/

/*****************
    /MAIN
*****************/


/***********************************
            RESPONSIVE
***********************************/

@media screen and (min-width: 768px) {
  .container{
    width: 720px;
  }
/* header */
  .hamb{
    display: block;
    color: white;
  }
/* header */

/* demo */

  #demo .row{
    flex-wrap: nowrap;
  }

  #demo .row:nth-child(1){
    height: 50%;
  }
  
  #demo .row:nth-child(1) .col:nth-child(2){
    width: calc(100% / 1.15);
  }

  #demo .col .image{
    width: 60%;
    min-height: fit-content;
  }
/* demo */
  #testimonials .bio .row .col{
    display: flex;
    align-items: center;
  }

  #testimonials .bio span{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #benefits .row{
    flex-wrap: wrap;
  }

  #benefits .col{
    width: 50%;
  }

  #about-us .row{
    display: flex;  
  }

  #about-us .text{
    width: 60%;
  }

  #about-us .exp{
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .container{
    width: 1140px;
  }
  
  header .container{
    align-items: center;
  }

  .hamb{
    display: none;
  }

  .menu{
    display: block;
    color: white;
  }
  
  .menu ul li{
    padding: 5px 20px;
  }
  
  .menu button a{
    padding: 0 20px;
    color: black;
    font-size: 1rem;
  }
  /* demo */
  #demo .col{
    display: flex;
    flex-wrap: nowrap;
  }

  #demo .row:nth-child(1) .col:nth-child(2){
    width: calc(100% / 1.14);
  }

  .menu button{
    border: none;
    border-radius: 15px;
  }


  #demo .col .image{
    align-items: end;
    padding-right: 50px;
    width: 90%;
  }
  /* demo */

  #strategic .planning{
    width: 50%;
  }

  #strategic .app img{
    object-fit: contain;
    height: 40%;
  }

  #strategic .app{
    width: 35%;
    height: 500px;
    justify-content: end;
    margin-top: 200px;
  }

  #testimonials .bio span{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #strategic .container{
    display: flex;
  }

  #benefits .row{
    flex-wrap: wrap;
  }

  #benefits .col{
    width: calc(100%/3);
  }
}
/***********************************
/RESPONSIVE
***********************************/