/*****************
      RESET
  *****************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

:root{
  --azzurro: #0084fd;
  --celeste: #b5ddff;
  --violetto: #9792e4;
}

/*****************
      /RESET
  *****************/


/*****************
      GENERALS
  *****************/

.container{
  margin: 0 auto;
  max-width: 1200px;
}

img{
  max-width: 100%;
}

.debug{
  border: 1px dashed black;
}

.d-flex{
  display: flex;
}

.in-block{
  display: inline-block;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*****************
      /GENERALS
  *****************/


/*****************
    HEADER
*****************/

header{
  height: 80px;
  background-color: var(--azzurro);
}

header .container{
  height: 100%;
  justify-content: space-between;
}

.logo{
  align-items: center;
}

.menu{
  align-items: center;
}

.menu nav ul li a{
  padding-right: 50px;
}

/*****************
    /HEADER
*****************/


/*****************
    MAIN
*****************/

/* Section 1 */
#hero .container{
  margin-top: 50px;
}

#hero .row{
  margin-top: 50px;
  margin: 0 30px;
}

.row .demo{
  justify-content: center;
  margin-bottom: 10px;
  background-color: var(--celeste);
  height: 600px;
}

.row .clean{
  justify-content: center;
  margin-bottom: 10px;
  background-color: var(--celeste);
  height: 350px;
}

#hero .col .card{
  margin: 10px 0;
}

#hero .card{
  justify-content: center;
  background-color: var(--celeste);
  height: 350px;
}
/* /Section 1 */


/* Section 2*/
#strategic{
  background-color: var(--violetto);
}

.planning{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.app{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* Section 2*/

/* Section 3*/

#testimonials .container .text{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bio{
  background-color: var(--violetto);
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px;
}

/* /Section 3*/

/* Section 4*/

#benefits{
  background-color: var(--violetto);
}

#benefits .container h1{
  justify-content: center;
  align-items: center;
}

#benefits .row{
  flex-wrap: wrap;
}

#benefits .col .card{
  background-color: white;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
}
/* /Section 4*/

/* Section 5*/
  #about-us .text{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #about-us .exp{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }


/* /Section 5*/

/* Section 6*/
#get-started{
  background-color: var(--violetto);
}

#get-started .container{
  text-align: center;
}
/* /Section 6*/









/*****************
    /MAIN
*****************/


/***********************************
            RESPONSIVE
***********************************/

@media screen and (min-width: 768px) {
  #hero .container .row{
    display: flex;
  }
  
  .row .demo{
    width: 60%;
  }
  
  .row .clean{
    width: 40%;
  }
  
  #hero .row .col{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #hero .row .col .card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }


  #benefits .row{
    flex-wrap: wrap;
  }

  #benefits .col{
    width: 50%;
  }

  #about-us .row{
    display: flex;  
  }

  #about-us .text{
    width: 60%;
  }

  #about-us .exp{
    width: 40%;
  }

}



@media screen and (min-width: 1200px) {
  #hero .container{
    width: 1140px;
    margin: 50px auto;
  }

  .row .demo{
    width: 60%;
  }
  
  .row .clean{
    width: 40%;
  }

  #strategic .container{
    display: flex;
  }

  .container .planning{
    width: 60%;
  }
  
  .container .app{
    width: 40%;
  }

  #benefits .row{
    flex-wrap: wrap;
  }

  #benefits .col{
    width: calc(100%/3);
  }
}

/***********************************
/RESPONSIVE
***********************************/